<div class="tweet social-quote">
  <div class="title">
    {{ safeHTML (index site.Data.svg "twitter-simple") }}
    {{ with .title }}<span>{{ . }}</span>{{ end }}
  </div>

  {{- $dnt := true -}}
  {{- $url := printf "https://twitter.com/%v/status/%v" .user .id -}}
  {{- $query := querify "url" $url "dnt" $dnt -}}
  {{- $request := printf "https://publish.twitter.com/oembed?%s" $query -}}
  {{- $resource := resources.GetRemote $request -}}
  {{- if $resource -}}
    {{- $data := $resource | transform.Unmarshal -}}
    {{- with $data.html -}}
      {{- replaceRE "<script.+/script>" "" . | safeHTML -}}
    {{- else -}}
      <a href="{{ $url }}" rel="noopener" target="_blank">View on X</a>
    {{- end -}}
  {{- else -}}
    <a href="{{ $url }}" rel="noopener" target="_blank">View on X</a>
  {{- end -}}
</div>
